<div class="ion-hide-sm-down">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>USM Ambulances</ion-title>

        <ion-buttons slot="end">
          <ion-button routerLink="/home">Accueil</ion-button>
          <ion-button routerLink="/ambulances">Ambulances</ion-button>
          <ion-button routerLink="/contact">Contact</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
</div>


<div class="ion-hide-md-up">
    <ion-header>
      <ion-toolbar>
        <ion-title class="title-text">
          Urgence & Solutions Médicales
        </ion-title>
      </ion-toolbar>
    </ion-header>
</div>

<ion-content [fullscreen]="true">
  <ion-header class="page-header gradient-bg-primary">
    <div class="container">
      <h1>
        <ion-icon name="medkit-sharp"></ion-icon>
        Nos Ambulances Disponibles
      </h1>
      <p class="subtitle">Choisissez l'ambulance adaptée à vos besoins</p>
    </div>
  </ion-header>
    <div class="ambulances-grid container">
      <ion-grid>
        <ion-row>
        @for (ambulance of ambulanceList(); track $index) {
          <ion-col size-md="4">
            <app-ambulance-card 
            [ambulance]="ambulance"
            >
            </app-ambulance-card>
          </ion-col>
        }
      </ion-row>
    </ion-grid>
    </div>
</ion-content>

<app-footer></app-footer>
<!-- <div class="ion-hide-sm-down">
</div> -->

<!-- TABS MOBILE -->
  <!-- <div class="ion-hide-md-up">
    <app-tabs></app-tabs>
  </div> -->