<div class="ion-hide-sm-down">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>USM Ambulances</ion-title>

        <ion-buttons slot="end">
          <ion-button routerLink="/home">
            <ion-icon name="home-outline"></ion-icon>
              Accueil
          </ion-button>
          <ion-button routerLink="/ambulances">
            <ion-icon name="car-outline"></ion-icon>
              Ambulances
          </ion-button>
          <ion-button routerLink="/contact">
            <ion-icon name="help-circle-outline"></ion-icon>
              Contact
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
  </div>

<div class="ion-hide-md-up">
    <ion-header>
      <ion-toolbar>
        <ion-title class="title-text">
          Urgence & Solutions Médicales
        </ion-title>
      </ion-toolbar>
    </ion-header>
</div>