.toolbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; // reste au-dessus du contenu
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  padding: 0 24px;

  .brand {
    display: flex;
    align-items: center;
    cursor: pointer;

    mat-icon {
      margin-right: 8px;
    //   color: #f0501a;
    }

    .title {
      font-weight: 600;
      font-size: 20px;
    }
  }

  .nav-links {
    display: flex;
    align-items: center;
    gap: 16px; // <-- espace horizontal entre les boutons
    flex: 1;
    justify-content: center;

    button {
      color: white;
      font-weight: 500;
      text-transform: none;

      mat-icon {
        margin-right: 6px;
      }

      &.active,
      &:hover {
        background-color: rgba(255, 255, 255, 0.15);
        border-radius: 8px;
      }
    }
  }

  .menu-button {
    display: none;
  }
}

// @media (max-width: 768px) {
//   .toolbar {
//     justify-content: space-between;
//     background-color: red;
//     .nav-links {
//       display: none; // Cacher les liens de navigation sur mobile
//     }
//     .menu-button {
//       display: block;
//       color: white;
//     }
//   }
//   .desktop {
//     display: none;
//   } 
    
// }

.example-container {
  width: 500px;
  height: 100px;
}

.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.example-sidenav {
  width: 100%;
  height: fit-content;
  background: #25b7ff;
  color: white;
}

.mat-drawer.mat-drawer-opened.mat-drawer-opened {
  transform: none;
  position: fixed;
  top: 64px;
}
