<ion-app>
  <!-- NAVIGATION DESKTOP -->
  <!-- <div class="ion-hide-sm-down">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>USM Ambulances</ion-title>

        <ion-buttons slot="end">
          <ion-button routerLink="/home">Accueil</ion-button>
          <ion-button routerLink="/ambulances">Ambulances</ion-button>
          <ion-button routerLink="/contact">Contact</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
  </div> -->

  <!-- HEADER MOBILE -->
  <!-- <div class="ion-hide-md-up">
    <ion-header>
      <ion-toolbar>
        <ion-title class="title-text">
          Urgence & Solutions Médicales
        </ion-title>
      </ion-toolbar>
    </ion-header>
  </div> -->

  <!-- CONTENU DES PAGES -->
  <ion-content >
    <ion-router-outlet></ion-router-outlet>
  </ion-content>

  <!-- FOOTER DESKTOP -->
  <!-- <div class="ion-hide-sm-down">
    <app-footer></app-footer>
  </div> -->

  <!-- TABS MOBILE -->
  <!-- <div class="">
    <app-tabs></app-tabs>
  </div> -->
</ion-app>