mat-toolbar {
  background-color: #25B7FF;
  color: white;
}

h2 {
  margin-top: 18px;
  font-size: 2.5rem;
  text-align: center;
}

.mat-sidenav-container {
  height: 100vh;
}

mat-card {
  margin: 0 115px 0 115px;
  border-radius: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

mat-sidenav {
  width: 300px;
  background-color: #eee;
  border-radius: 0px;
}

a.msg-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .7rem;
  border-radius: 0px;
  cursor: pointer;

  &.unread {
    font-weight: 600;
  }
}

mat-toolbar-row {
  display: flex;
  box-sizing: border-box;
  padding: 0 16px;
  width: 100%;
  flex-direction: row;
  align-items: center;
  white-space: nowrap;
  height: var(--mat-toolbar-standard-height, 64px);
  justify-content: space-between;
}


