<mat-toolbar>
  <mat-toolbar-row>
    <h1>USM - AMBULANCES</h1>
    <button mat-icon-button [matBadge]="unread" matBadgeColor="warn">
      <mat-icon>mail</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav #sidenav opened mode="side">
    <mat-nav-list>
      @for(msg of messages; track msg._id) {
        <a mat-list-item
          (click)="openMessage(msg)"
          class="msg-item"
          [ngStyle]="selectedMessageStyleFunc(msg)"
          [class.unread]="!msg.read"
          >
          <div [ngStyle]="!msg.read ? {'font-size': 'larger', 'color': '#25B7FF'} : {}">
            {{ msg.nom }}  
          </div>
        </a>        
      }
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    @if(selectedMessage) {
      <div class="message-detail animate-slide-fade">

        <h2>Détails du message</h2>

        <mat-card>
          <mat-card-content>
            <p><strong>Nom :</strong> {{ selectedMessage.nom }}</p>
            <p><strong>Téléphone :</strong> {{ selectedMessage.telephone }}</p>
            <p><strong>Adresse :</strong> {{ selectedMessage.adresse }}</p>
            <p><strong>Destination :</strong> {{ selectedMessage.destination }}</p>
            <p><strong>Date :</strong> {{ selectedMessage.date | date:'EEEE dd MMMM yyyy':'':'fr-FR' }} à {{ selectedMessage.heure }}</p>
            <p><strong>Notes suplémentaires :</strong> {{ selectedMessage.infos }}</p>
          </mat-card-content>
          <button mat-icon-button (click)="deleteMessage(selectedMessage)">
            <mat-icon>delete</mat-icon>
          </button>
        </mat-card>
      </div>
    }
  </mat-sidenav-content>
</mat-sidenav-container>