<ion-header>
  <app-header></app-header>
</ion-header>

<ion-content fullscreen="true">
    
  <div class="hero gradient-bg-primary">
    <div class="hero__content">
      <h1 class="hero__title">Transport Médical d'Excellence</h1>
      <p class="hero__subtitle">
        Service de transport médical rapide et fiable. Réservez votre ambulance en quelques clics.
      </p>
    </div>

    <div class="container hero__services">

      <div class="service">
        <div class="service__icon">
          <ion-icon name="time-outline"></ion-icon>
        </div>
        <div class="service__content">
          <h3 class="service__title">Disponible 24/7</h3>
          <p class="service__description">Service d'urgence à tout moment</p>
        </div>
      </div>

      <div class="service">
        <div class="service__icon">
          <ion-icon name="shield-outline"></ion-icon>
        </div>
        <div class="service__content">
          <h3 class="service__title">Équipe certifiée</h3>
          <p class="service__description">Personnel médical qualifié</p>
        </div>
      </div>

      <div class="service">
        <div class="service__icon">
          <ion-icon name="call-outline"></ion-icon>
        </div>
        <div class="service__content">
          <h3 class="service__title">Support direct</h3>
          <p class="service__description">Assistance téléphonique</p>
        </div>
      </div>

    </div>
  </div>

    <!-- @if (isMobileOrTablet) { -->
    <section class="features-section">
      <app-reservation-form></app-reservation-form>
    </section>
  <!-- } -->

</ion-content>

<ion-footer>
  <app-footer></app-footer>
</ion-footer>