/* ===== HERO ===== */
.hero {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.hero__content {
  margin-bottom: 0px;
  padding: 0 16px;
  text-align: center;
}

.hero__title {
  color: white;
  font-weight: 600;
  font-size: 1.8rem;
  margin-bottom: 10px;
}

.hero__subtitle {
  font-size: 1rem;
  color: var(--ion-color-medium);
  margin-bottom: 32px;
}

.hero__services {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 20px;
}


/* ===== SERVICE ITEM ===== */
.service {
  display: flex;
  align-items: center;
  gap: 14px;
  padding: 12px;
  background: var(--ion-color-light);
  border-radius: 12px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.05);
}

.service__icon {
  font-size: 36px;
  background-color: #a6e5ff59;
  border-radius: 0.75rem;
  color: var(--ion-color-primary);
}

.service__content {
  text-align: left;
}

.service__title {
  margin: 0;
  font-weight: 600;
  font-size: 1.1rem;
}

.service__description {
  margin: 0;
  font-size: 0.95rem;
  color: var(--ion-color-medium);
}

ion-icon {
  font-size: 30px;
  padding: 10px;
}


/* ========= TABLET (≥ 768px) ========= */
@media (min-width: 768px) {

  .hero__title {
    font-size: 2.2rem;
  }

  .hero__subtitle {
    font-size: 1.1rem;
  }

  .hero__services {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 24px;
  }

  .service {
    width: calc(50% - 24px);
    padding: 16px;
  }
}


/* ========= DESKTOP (≥ 1024px) ========= */
@media (min-width: 1024px) {

  .hero {
    padding: 48px 80px;
  }

  .hero__title {
    font-size: 2.8rem;
  }

  .hero__subtitle {
    font-size: 1.25rem;
  }

  .hero__services {
    max-width: 900px;
    margin: 0 auto;
  }

  .service {
    width: calc(33.33% - 24px);
  }
}
