<div class="container reservation-form">
  <mat-card class="form-card">
    <div class="card-header">
      <mat-card-header>
        <mat-card-title class="title">Réserver une ambulance</mat-card-title>
        <mat-card-subtitle class="subtitle">
          Complétez les informations ci-dessous
        </mat-card-subtitle>
      </mat-card-header>
    </div>

    <mat-card-content>
      <form [formGroup]="formGroup" (ngSubmit)="submit($event)" class="form-grid">

        <!-- NOM -->
        <mat-form-field appearance="fill">
          <mat-label>Nom du patient</mat-label>
          <mat-icon matPrefix>account_circle</mat-icon>
          <input matInput formControlName="nom" placeholder="Ibrahima Sow">
          @if (hasError('nom')) {
            <mat-error>
              Le nom est requis (min 2 caractères)
            </mat-error>
          }
        </mat-form-field>

        <!-- PRENOM -->
        <!-- <mat-form-field appearance="fill">
          <mat-label>Prénom</mat-label>
          <mat-icon matPrefix>badge</mat-icon>
          <input matInput formControlName="prenom">
          @if (formGroup.get('prenom')?.touched && formGroup.get('prenom')?.invalid) {
            <mat-error>
              Le prénom est requis (min 2 caractères)
            </mat-error>
          }
        </mat-form-field> -->

        <!-- TELEPHONE -->
         <mat-form-field appearance="fill">
          <mat-label>Téléphone</mat-label>
          <mat-icon matPrefix>phone</mat-icon>
          <input  matInput appSenegalPhone formControlName="telephone" placeholder="+221 77 123 45 67">
          @if (hasError('telephone')) {
            <mat-error>
              L'adresse est requise (min 5 caractères)
            </mat-error>
          }
        </mat-form-field>

        <!-- ADRESSE -->
        <mat-form-field appearance="fill" class="full">
          <mat-label>Adresse de prise en charge</mat-label>
          <mat-icon matPrefix>home</mat-icon>
          <input matInput formControlName="adresse" placeholder="Ouakam">
          @if (hasError('adresse')) {
            <mat-error>
              L'adresse est requise (min 5 caractères)
            </mat-error>
          }
        </mat-form-field>

        <!-- DESTINATION -->
        <mat-form-field appearance="fill" class="full">
          <mat-label>Destination</mat-label>
          <mat-icon matPrefix>place</mat-icon>
          <input  matInput formControlName="destination" placeholder="Hôpital Principal">
          @if (hasError('destination')) {
            <mat-error>
              La destination est requise
            </mat-error>
          }
        </mat-form-field>

        <!-- DATE -->
        <mat-form-field appearance="fill">
          <mat-label>Date du voyage</mat-label>
          <!-- <mat-icon matPrefix>event</mat-icon> -->
          <mat-datepicker-toggle matIconPrefix [for]="picker"></mat-datepicker-toggle>
          <input matInput [matDatepicker]="picker" formControlName="date" [min]="today">
          <mat-datepicker #picker></mat-datepicker>
          @if (hasError('date')) {
            <mat-error>
              La date est requise
            </mat-error>
          }
        </mat-form-field>

        <!-- HEURE -->
        <mat-form-field appearance="fill">
          <mat-label>Heure</mat-label>
          <mat-select formControlName="heure">
            @for (heure of getFilteredHours(); track $index) {
              <mat-option [value]="heure">
                {{ heure }}
              </mat-option>
            }
          </mat-select>
            @if (hasError('heure')) {
              <mat-error>
                L'heure est requise
              </mat-error>
            }
        </mat-form-field>

        <!-- INFOS SUPPLEMENTAIRES -->
        <mat-form-field appearance="fill" class="full">
          <mat-label>Notes supplémentaires (optionnel)</mat-label>
          <mat-icon matPrefix>home</mat-icon>
          <textarea matInput rows="2" formControlName="infos"></textarea>
        </mat-form-field>

        <!-- SUBMIT -->
        <button mat-raised-button color="primary" class="submit-btn" type="submit" [disabled]="formGroup.invalid">
          Envoyer la réservation
        </button>
      </form>
    </mat-card-content>
  </mat-card>
</div>